* { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  } 
img {
  display: block;
  max-width: 100%;
  height: auto;
}
b {
  font-weight: bold;
}
html {
  font-size: 10px;
}
.headernav {
  display: none;
}
.logoimg {
  background: url('../img/logo.png');
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  width: 10rem;
  height: 1.85rem;
}
.headerh1 {
  background: #ededed;
  .headerh1__h1 {
    font-family: Roboto, Arrial, sans-serif;
    font-size: 3rem;
  }
}
@media(min-width:640px) {
}
